
<% if current_user.superadmin_role? %>

		
	<h1> Je suis un directeur  </h1></br>
	<h1> Je peux creer :  </h1> </br>
	
	<%= link_to('creer un employe', home_new_path) %>

	

<% end %>


<% if current_user.supervisor_role? %>
	<h1> Je suis un Coordonateur  </h1> </br>
	<h1> Je peux creer :  </h1> </br>
	
	
	<%= link_to('creer un employe', home_new_path) %></br>
	<%= link_to('Créer organisme référent', organisme_referants_path)  %>
	
<% end %>

<% if current_user.user_role?  %>
	<h1> Je suis un usager  </h1>
<% end %>




<% if user_signed_in? %>
      <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
<% end %>
