<h1>Page Home</h1>



<% if user_signed_in? %>
      <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
<% end %>


<% if current_user.superadmin_role? %>
	<p>Visible only for Directeur  </p>
	
	<%= link_to('Nouveau Employe', home_new_path) %> 


<% end %>
<% if current_user.supervisor_role? %>
	<p>Visible only for Coordonnateur </p>
	
	<%= link_to('Créer organisme référent', organisme_referants_path)  %>
<% end %>





