<h1>Organisme référent</h1>
<h2>Créer un organisme référent</h2>

<form action="/action_page.rb">
<p>Nom:<br><input type="text"></p>
<p>Numéro civique:<br><input type="text"></p>
<p>Rue:<br><input type="text"></p>
<p>Ville:<br><input type="text"></p>
<p>Province:<br><input type="text"></p>
<p>État:<br><input type="text"></p>
<p>Code postal:<br><input type="text"></p>
<p>Téléphone bureau:<br><input type="text"></p>
<p>Téléphone copie:<br><input type="text"></p>
<p>Courriel:<br><input type="text"></p>
<p>Site web:<br><input type="text"></p>
<input type="submit">
</form>

